body{
    background-color: #F6FCFF;
    background-image: url("..../static/images/main_bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;

}
.character{
    width: 100%;
    max-width: 364px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
}
.gnb{
    position: absolute;
    list-style: none;
    top: 59px;
    right: 300px;
}
.gnb li{
    float: left;
    margin-left: 18px;
   
}
.gnb li a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.gnb li a:hover {
    background-color: #ccc;
}
