body {
    font-family: 'Acme', sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    justify-content: center;
    height: 100vh;
    background: #e3f4f1;
    background-image: url(../images/main_bg.jpg);
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 14px;
}

.menu {
    width: 930px;
    overflow: hidden;
    margin: 50px auto;
}

.menu > li {
    width: 25%; /* 20*5=100% */
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #ebebeb;
}

.menu a {
    font-size: 15px;
    color: #01755c;
}

.submenu > li {
    line-height: 50px;
    background-color: #90ccbf;
}

.submenu {
    height: 0;
    overflow: hidden;
}

.menu > li:hover {
    background-color: #2dae92;
    transition-duration: 0.5s;
}

.menu > li:hover .submenu {
    height: auto;
    transition-duration: 1s;
    overflow: visible;
}

section {
    padding-top: 100px;
    padding: 10px;
    width: 900px;
    height: auto;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(69,67,96,0.1);
    border-radius: 10px;
    font-size: 15px; color: #01755c;
}


#form-commentInfo{
    width: 100%;
}

#comment-count{
    margin-bottom: 10px;
}

#comment-input{
    width: 750px;
    height: 50px;
    text-align: left;
    float: center;
}

#submit{
    background-color: #86ba98;
    width: 140px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

.voteUp, .voteDown{
    padding: 3px 5px;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    height: auto;
    color:#01755c;
    border: 2px solid #c5c4c4;
    background-color: #ffffff;
}


#comments{
    margin-top: 10px;
    display : center;
}

.eachComment {
    width: 90%;
    margin: 10px auto;
    padding: 0.5em;
    border-bottom: 1px solid #c1bcba;
}


.eachComment .name{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between;
}

.eachComment .inputValue{
    font-size: 1.0em;
    font-style: italic;
}

.eachComment .time{
    font-size: 0.8em;
    color: #c1bcba;
    font-style: oblique;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

.eachComment .voteDiv{
    display: flex;
    justify-content: flex-end;
}

.eachComment .deleteComment{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #c5c4c4;
    color: rgb(255, 0, 0);
    width: 50px;
}