<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/static/css/notice_board.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<header>
    <ul class="menu">
        <li>
            <a href="/">MBTI 검사하기</a>
        </li>
        <li>
            <a href="#">게시판</a>
            <ul class="submenu">
                <li><a href="/setting/board/estj">ESTJ</a></li>
                <li><a href="/setting/board/istj">ISTJ</a></li>
                <li><a href="/setting/board/esfj">ESFJ</a></li>
                <li><a href="/setting/board/isfj">ISFJ</a></li>
                <li><a href="/setting/board/estp">ESTP</a></li>
                <li><a href="/setting/board/istp">ISTP</a></li>
                <li><a href="/setting/board/esfp">ESFP</a></li>
                <li><a href="/setting/board/isfp">ISFP</a></li>
                <li><a href="/setting/board/entj">ENTJ</a></li>
                <li><a href="/setting/board/intj">INTJ</a></li>
                <li><a href="/setting/board/enfj">ENFJ</a></li>
                <li><a href="/setting/board/infj">INFJ</a></li>
                <li><a href="/setting/board/estp">ENTP</a></li>
                <li><a href="/setting/board/intp">INTP</a></li>
                <li><a href="/setting/board/enfp">ENFP</a></li>
                <li><a href="/setting/board/infp">INFP</a></li>
            </ul>
        </li>
        <li>

        <li th:if="${session.loggedNickname}">
            <a href="/setting/logout">로그아웃</a>
        </li>
        <li th:unless="${session.loggedNickname}">
            <a href="#">로그인 / 회원가입</a>
            <ul class="submenu">

                <li th:unless="${session.loggedNickname}">
                    <a href="/setting/login">로그인</a>
                </li>
                <li th:unless="${session.loggedNickname}">
                    <a href="/setting/join">회원가입</a>
                </li>

            </ul>
        </li>
        </li>
        <li>
            <a href="#">MY PAGE</a>
            <ul class="submenu">
                <li><a href="#">내 정보 조회</a></li>
                <li><a href="#">내 정보 수정</a></li>
                <li><a href="#">이전 활동 기록</a></li>
                <li><a href="#">회원 탈퇴</a></li>
            </ul>
        </li>
    </ul>
</header>

<section>
    <div class="information">
        <h2 th:text="${myMbti}"></h2>
        <hr width="100%" color=#01755c/> <br>
        <img src="/static/images/MBTI.jpg" style="width:900px;">
    </div>
    <br>
    <h2>Comments</h2>
    <hr width="100%" color=#01755c/>

    <!--comment---------------------------------------------------------------------------------->
    <div id="form-commentInfo">
        <div id="comment-count">댓글 <span id="count">0</span></div>
        <input id="comment-input" placeholder="What are you thinking">
        <button id="submit">Share</button>
    </div>
    <br>
    <!--<hr width="100%" color=#507a71/> -->

    <form>
        <label>댓글 정렬 :
            <select name="comment" >
                <option value="none">== 선택 ==</option>
                <option value="popularity">인기순</option>
                <option value="newest">최신순</option>
        </label>
        </select>
    </form>
    <hr width="100%" color=#01755c>
    <div id=comments>
        <script src="/static/js/notice_board.js"></script>
    </div>
</body>
</html>